# macOS
.DS_Store

# Archives
*.zip
*.rar

# Fonts
*.ttf
*.otf

# IDEs
.idea/
.vscode/

# Python / Django
__pycache__/
*.pyc
.env
db.sqlite3
*.log
.venv/
venv/
env/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Media (optional – uncomment if needed)
# media/
# staticfiles/
